.vscode
.claude
temp_data/
generated_data/
papers/
SEAL-main/
MINDER
data/
notes/

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.pdf
*.synctex.gz
*.toc

notes.txt
notes_to_self.md

scripts/__pycache__/
scripts/utils/__pycache__/

generated_data_old/

*.txt

seal_kilt/
seal_nq/