.vscode
.claude
generated_data/

data/*
!data/.gitkeep


*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.synctex.gz
*.toc

scripts/__pycache__/
scripts/utils/__pycache__/
