.vscode
temp_data/
generated_data/
papers/
SEAL-main/
MINDER
data/


*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.pdf
*.synctex.gz
*.toc

notes.txt
notes_to_self.md

scripts/__pycache__/

generated_data_old/


seal_paper.txt
minder_paper.txt